# This workflow will run tests for different OSes
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Tests

on: [
  push,
  pull_request,
]

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          # windows-latest  # Not supported :(
        ]
        python: [
          3.6,
          3.7,
          3.8,
        ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v1
      with:
        python: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pytest tests --cov=ots/ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false  # Someday perhaps
